Battery level study, but only interesting things
====

In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
"""
Copy files from RDSF to a local directory so I can read them

"""

from ema import read

read.copy_battery_files()

In [10]:
"""
Create a dataframe of all the battery data

"""

battery_df = read.battery_lvl_df()
battery_df.head()

 79%|███████▉  | 61/77 [00:00<00:00, 299.01it/s]

/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_22904_20211209.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed
/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_20050_20220412.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed
/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_15082_20220420.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed
/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_638_20220428.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed
/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_35272_20220520.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed
/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_27345_20220615.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed
/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_29061_20220628.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed
/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_4260_20211221.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed
/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_9359_20220719.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed

100%|██████████| 77/77 [00:00<00:00, 311.09it/s]

/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_23532_20220204.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed
/home/mh19137/seaco_malaysia/data/battery_dbs/EMADATA_3017_20220204.db failed with Execution failed on sql 'SELECT * FROM Event;': database disk image is malformed

/home/mh19137/seaco_malaysia/ema/clean.py:118: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Normal' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  copy.loc[start_time, col_name] = "Normal"
/home/mh19137/seaco_malaysia/ema/clean.py:189: UserWarning: Long catchup: not marking Meal at 2022-05-19 09:02:49 as catchup
  warnings.warn(

 Open ended catchup at 2022-02-11 20:02:05 ended by No response at 2022-02-12 08:02:11
 Open ended catchup at 2022-02-14 20:26:30 ended by No response at 2022-02-15 08:02:16
 Open ended catchup at 2022-04-19 08:01:14 ended by No catch-up at 2022-04-19 08:01:17
 Open ended catchup at 2022-06-27 15:53:14 ended by Catch-up start at 2022-06-27 15:54:06
 Open ended catchup at 2021-12-31 22:11:10 ended by No catch-up at 2022-01-01 08:01:15
 Open ended catchup at 2022-05-24 07:25:36 ended by Catch-up start at 2022-05-24 07:26:00
 Open ended catchup at 2022-03-21 08:01:57 ended by No catch-up at 2022-03-21 08:02:04
 Open ended catchup at 2022-03-07 18:33:30 ended by No catch-up at 2022-03-07 18:33:34
 Open ended catchup at 2022-03-07 18:37:08 ended by No catch-up at 2022-03-07 18:37:14
 Open ended catchup at 2022-03-07 19:29:23 ended by No response at 2022-03-08 08:02:56
 Open ended catchup at 2022-03-08 08:30:40 ended by No catch-up at 2022-03-08 08:31:08
 Open ended catchup at 2022-03-08 09:49:20 ended by No catch-up at 2022-03-08 09:49:28
 Open ended catchup at 2022-03-09 08:00:59 ended by No catch-up at 2022-03-09 08:01:03
 Open ended catchup at 2022-04-28 15:48:57 ended by No response at 2022-04-28 15:50:59
 Open ended catchup at 2022-04-28 16:24:21 ended by No response at 2022-05-10 09:53:52
 Open ended catchup at 2021-12-05 08:00:54 ended by No catch-up at 2021-12-05 08:00:57
 Open ended catchup at 2022-04-04 08:04:36 ended by No catch-up at 2022-04-04 08:04:45
 Open ended catchup at 2022-04-04 14:20:29 ended by No catch-up at 2022-04-04 14:23:32
 Open ended catchup at 2021-12-23 23:03:50 ended by No response at 2021-12-24 08:02:07
 Open ended catchup at 2021-12-24 19:40:45 ended by No response at 2021-12-24 19:49:38
 Open ended catchup at 2021-12-15 08:00:55 ended by No catch-up at 2021-12-15 08:01:06
 Open ended catchup at 2021-11-09 08:00:19 ended by No catch-up at 2021-11-09 08:00:30
 Open ended catchup at 2022-04-06 08:01:23 ended by No catch-up at 2022-04-06 08:02:01
 Open ended catchup at 2022-07-12 15:19:19 ended by No catch-up at 2022-07-12 15:19:27
 Open ended catchup at 2022-05-12 10:02:47 ended by No catch-up at 2022-05-12 10:03:16
 Open ended catchup at 2022-02-16 16:56:14 ended by No catch-up at 2022-02-16 16:56:50
n_open_ended=26

,p_id,battery_lvl,delta,charges,discharges,respondent_sex,respondent_ethnicity,age_dob,residents_id,all_in_ramadan,any_in_ramadan
0,15402,99,1 days 08:00:52,5,6,2.0,1.0,15.0,15402,False,False
1,15402,99,1 days 08:00:52,5,6,2.0,1.0,15.0,15402,False,False
2,15402,99,1 days 08:00:52,5,6,2.0,1.0,15.0,15402,False,False
3,15402,99,1 days 08:00:52,5,6,2.0,1.0,15.0,15402,False,False
4,15402,99,1 days 08:00:52,5,6,2.0,1.0,15.0,15402,False,False